@tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  .counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Space from the previous element */
}

.counter-button {
    font-size: 16px;
    width: 40px; /* Width of the button */
    height: 40px; /* Height of the button */
    line-height: 40px; /* Align text in the center vertically */
    text-align: center;
    background-color: #f97316; /* Button background color */
    color: white;
    border: none;
    border-radius: 50%; /* Circular buttons */
    cursor: pointer;
    margin: 0 10px; /* Space between the buttons and the number */
}

.counter-display {
    min-width: 40px; /* Minimum width of the number display */
    text-align: center;
    font-size: 18px;
    color: #333;
}

.tagline-main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* Adjust size as needed */
}

.tagline-container {
  display: flex;
  flex-direction: column;
  font-size: 24px; /* Adjust size as needed */
  font-weight: bold;
  color: white;
}

.second-word {
  display: inline-block;
  width: 200px;
  background-color: #f97316; /* Background of the flipping word */
  padding: 0 7px; /* Padding inside the flipping word box */
  border-radius: 5px; /* Rounded corners of the background */
  transition: all 0.3s ease-in-out; /* Smooth transition for changes */
}


